<?xml version="1.0"?>
<model>
  <name>robot</name>
  <version>0.1</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Viktor Budylin</name>
    <email>yomvol7@gmail.com</email>
  </author>

  <description>
  PhantomX hexapod is not designed by me. All intellectual property is due to Interbotix. 3D physical models licensed under a Creative Commons Attribution-ShareAlike 4.0 International License.
  </description>
</model>